.contact-header {
  font-weight: 600;
}

.contact-row {
  display: table-row;
}

.contact-cell {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}

.contact-cell:first-of-type {
  text-align: center;
  font-size: 0;
}

.contact-cell .contact-image {
  background: white;
}

.contact-cell img {
  height: 100px;
}

.contact-row:nth-child(odd) {
  background: #f3f3f3;
}

.message-success {
  color: green;
}

.message-fail {
  color: red;
}

.input p {
  color: red;
  font-size: 12px;
  height: 10px;
  margin: 0;
  margin-top: 5px;
}

.input {
  display: inline-block;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.input input {
  height: 35px;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

.add-contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

input[type=submit], button {
  height: 35px;
  -webkit-appearance: none;
  background: lightgreen;
  border: none;
  font-size: 18px;
}

.padding-top-0 {
  padding-top: 0;
}

.error {
  border-color: red;
}
